<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/action-user.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Confirmacion de Baja</title>
</head>
<body>
    <header id="logo">

      <a href="../index.php"> <h1>EMPLEO IES JOAN COROMINES</h1></a>

    </header>

    <article id="article">

        <div class="mensaje">
            <h2>La baja  ha sido concedida con exito</h2>
            <p> Nos gustaria conocer tu sugerencia para  mejorar  la página y
               proporcionar la experiencia posible. Desde el formulario de contacto, estaremos encantados de recibirlas.<br>
               No dudes  en volver! 
            </p><br><br>

            <a href="mensajeria.html" class="a-baja">Contactar</a> 
        </div>
      
    </article>
    <footer>
        <div id="terminos">
            <h4> IES Joan Coromines 2010 - 2020</h4>
            <ul>
                <li> <a href="../index.php">Inicio</a></li>
                <li> <a href="mensajeria.html">Contacto</a></li>
                <li> <a href="#">Terminos y condiciones</a></li>
                
            </ul>
        </div>
    </footer>
</body>
</html>